.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logodiv{
  height: 300px;
}
.discription{
  width: 80%;
  text-align: center;
  color: #909090;
}
.discriptionp{
  font-weight: bold;
}
.footer {
  width: 100%;
  height: 30px;
  border-top: 2px solid #909090;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enter{
  margin-bottom: 100px;
  background-color: #97FB57;
  color: #121212;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
